<!DOCTYPE html>
<html ng-app="offerend">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Bootstrap",
    "~/Content/Css/Layout",
    "~/Content/Css/Themes")
    @Scripts.Render("~/bundles/modernizr",
    "~/bundles/Angular",
    "~/bundles/Default",
    "~/bundles/LoginRegisterController")
    @{ var bla = User.Identity.Name.ToString();}
    <script src="~/Scripts/Angular/Default/Directives/passwordMatch.js"></script>
</head>
<body>
    <div></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <input class="navbar-check" type="checkbox" name="navbarCheck" id="navbarCheck" />
        <label for="navbarCheck" class="navbar-check-label offerend-menu"></label>
        <div class="offerend-navbar">
            <ul class="list-unstyled">
                <li><span class="offerend-home"></span><a href="">Home</a></li>
                <li><span class="offerend-question"></span><a href="">How to</a></li>
                <li><span class="offerend-location"></span><a href="">Explorer offices</a></li>
                <li><span class="offerend-office"></span><a href="">My offices</a></li>
            </ul>
        </div>

        <input class="login-check" type="checkbox" name="navbarCheck" id="loginCheck" />
        <label for="loginCheck" class="navbar-login-label pull-right offerend-user"></label>
        <div class="offerend-login" ng-controller="LoginRegisterController as $ctrl">
            <div ng-cloak ng-show="form == 1">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = default(string), @class = "clearfix", @name = "offerendLoginForm", @id = "offerendLoginForm", @ng_submit = "mailForm.submit($event)", @role = "form", @novalidate = default(string) }))
            {
                    <p>Log in to your account</p>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("userName", "Name")
                            <input class="form-control" type="text" name="userName" />
                        </div>
                        <div class="form-group">
                            @Html.Label("password", "Password")
                            <input class="form-control" type="password" name="password" />
                        </div>
                        <div class="form-group">
                            @Html.Label("confirmPassword", "Confirm Password")
                            <input class="form-control" type="password" name="confirmPassword" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary" type="submit" name="login">Log in</button>
                        </div>
                        <div class="form-group">
                            <a ng-click="form = 2" href="">Create an Offerend account</a>
                        </div>
                    </div>
                }
            </div>

            <div ng-cloak ng-show="form == 2">
                @*@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "clearfix", @name = "offerendRegisterForm", @id = "offerendRegisterForm", @ng_submit = "createAccount()", @role = "form", @novalidate = default(string) }))*@

                


                <form method="post" ng-model="offerendRegisterForm" name="offerendRegisterForm" id="offerendRegisterForm" role="form" ng-submit="createAccount(offerendRegisterForm.$valid)" novalidate>
                    <p>Create an account</p>
                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{true: 'error'}[submitted && offerendRegisterForm.userName.$invalid]">
                            @Html.Label("userName", "Name")
                            <input ng-model="createAccount.username" class="form-control" type="text" required name="userName" ng-minlength=6 />
                            <div>
                                <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.userName.$error.required">Username is required</div>
                                <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.userName.$error.minlength">Username must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("password", "Password")
                            <input ng-model="createAccount.password" class="form-control" type="password" name="password" required ng-minlength=6 />
                            <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.password.$error.required">Password is required</div>
                            @*<div class="alert alert-danger">Password must be at least 6 characters</div>*@
                        </div>
                        <div class="form-group">
                            @Html.Label("confirmPassword", "Confirm Password")
                            <input type="password"  name="confirmPassword" class="form-control" ng-model="createAccount.confirmPassword" matcher="{{createAccount.password}}" required/>
                            <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.confirmPassword.$error.matcher">
                                @*<div ng-show="offerendRegisterForm.confirmPassword.$error.required">This is required.</div>*@
                                <div ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.confirmPassword.$error.matcher">Passwords don't match</div>
                            </div>



                            <div class="alert alert-danger">
                                @*<div>Confirm password is required</div>*@
                                @*<div class="alert alert-danger" ng-show="offerendRegisterForm.repeatPassword.$error.noMatch">Passwords don't match</div>*@
                            </div>
                        </div>
                        <div>{{validationMessage}}</div>
                        <div class="form-group">
                            @Html.Label("email", "E-mail")
                            <input ng-model="createAccount.email" class="form-control" type="email" name="email" required />
                            <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.email.$error.required">Email is required</div>
                        </div>
                        <div class="form-group">
                            @Html.Label("confirmEmail", "confirm E-mail")
                            <input ng-model="createAccount.confirmEmail" class="form-control" type="email" name="confirmEmail" required  matcher="{{createAccount.email}}"/>
                            <div class="alert alert-danger" ng-show="offerendRegisterForm.$submitted && offerendRegisterForm.confirmEmail.$error.matcher">Emails don't match</div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-lg btn-primary" type="submit" value="Sign up" name="signup" />
                        </div>
                        <div class="form-group">
                            <a ng-click="form = 1" href="">Back to log in</a>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <script type="text/ng-template" id="ModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Account successfully created</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <h2>Thank you for registering an Offerend account!</h2>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                        <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <div>{{username}}</div>
            </div>
        </div>

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Offerend", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*<div class="hej">@bla</div>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
